body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #c6e6f2; /* light blue background */
  overflow-x: hidden;
  overflow-y: hidden;
}

section {
  background-color: #f8f9fa; /* soft white background inside */
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100vw;
  max-width:100vw;
  margin: auto;
}

h1 {
  font-size: 3rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.2rem;
  }
}
