body{
    background-color:lightblue;
    background-attachment: fixed;
    margin: 0;
    margin: 0;
    place-items: center;
    min-width: 100vw;
    min-height: 100vh;
}
Link{
    text-decoration:none
}
#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 5px;
}
h1{
    text-align: center;
    color: blue;
}
#form button{
    background-color: blue;
    color: white;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    padding: 10px;
    border: 1px solid lawngreen;
}
.input-group input:focus{
    outline: 0;
}
.error{
    color: red;
    font-size: 16px;
    margin-top: 5px;
}
.input-group.success input{
    border-color: green;
}
.input-group.error input{
    border-color: red;
}
